footer
  .footer-contacts.row-flex.container-side-padding
    .footer-contacts__left
      form.home-contact--width(data-home-popup='' autocomplete='off')
        h2.title.home-contact--width Контакти
        .small-text.mb50.home-contact--width Отримайте детальний прорахунок від нашого менеджера всього за 5 хвилин
        .form-field.form-field-input.mb30(data-field-input='' data-field-name='' data-status='field--inactive' data-animation='none')
          .form-field-message Ваше ім`я:
          input.form-field__input(type='text' name='name' placeholder='Ім`я*' maxlength='31')
          .input-message(data-input-message='')
        .form-field.disabled.form-field-input(data-field-input='' data-field-phone='' data-status='field--inactive' data-animation='none')
          .form-field-message Телефон
          input.form-field__input.input-tel(type='tel' name='phone' placeholder='' inputmode='tel')
          span.place-holder + 38 ___-___-__-__
          .mask-absolute.js-mask-absolute
          .input-message(data-input-message='')
        .small-text.mt50.home-contact--width Натискаючи на кнопку, Ви погоджуєтесь з обробкою персональних даних. 
        .form-btn-wrap.df.jcsb.aic
          button.button.button--calypso--green.button-green.home-contact-btn--size(type='submit' data-btn-submit='data-btn-submit') 
            span Надіслати
            div(data-btn-submit-text='' style='display:none')
    .footer-contacts__right
      .footer-contacts__right-item
        h3.subtitle відділ продажу:
        .text м. Вінниця, вул. Максимовича, 6
      .footer-contacts__right-item
        h3.subtitle будівництво:
        .text м. Вінниця, вул. Максимовича, 21
      .footer-contacts__right-item
        h3.subtitle графік роботи:
        .text.mb10 Пн-Сб: 09:00-19:00
        .text Нд: 10:00-17:00
      .footer-contacts__right-item
        h3.subtitle телефон:
        .text.hover
          a(href="tel:+380671106104") +38 067 110 61 04 
      .footer-contacts__right-item
        h3.subtitle e-mail:
        .text
          a(href='mailto:zkforesthome@gmail.com') zkforesthome@gmail.com
      .footer-contacts__right-item
        h3.subtitle Соціальні мережі:
        .footer-contacts__socials
          a(target="_blank" href="https://facebook.com").social-icon 
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.5395 2.65667H12V0.112667C11.748 0.078 10.8814 0 9.87218 0C7.76635 0 6.32381 1.32467 6.32381 3.75933V6H4V8.844H6.32381V16H9.1729V8.84467H11.4027L11.7567 6.00067H9.17224V4.04133C9.1729 3.21933 9.39422 2.65667 10.5395 2.65667Z" fill="white"/>
            </svg>
          a(target="_blank" href="https://instagram.com").social-icon 
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M5.09006 0.708005C5.8468 0.674771 6.09096 0.666504 8.00233 0.666504C9.9132 0.666504 10.1582 0.674762 10.9179 0.71082C11.6941 0.745079 12.2374 0.871563 12.718 1.0572C13.2249 1.24817 13.6866 1.549 14.0681 1.93575L14.066 1.9337L13.8554 2.14926L14.0702 1.93781L14.0681 1.93575C14.4587 2.31793 14.7567 2.77718 14.9503 3.28866C15.1363 3.76729 15.2627 4.31355 15.2969 5.08945C15.3302 5.84694 15.3329 6.09212 15.3329 8.00123C15.3329 9.91226 15.3247 10.1564 15.2914 10.913C15.2572 11.69 15.1303 12.2336 14.9445 12.7145C14.5484 13.7387 13.7385 14.5486 12.7141 14.9447C12.2352 15.1309 11.6886 15.2574 10.912 15.2917C10.1552 15.325 9.91098 15.3332 7.99965 15.3332C6.08832 15.3332 5.84401 15.325 5.08733 15.2917C4.31081 15.2574 3.76749 15.1309 3.2867 14.9453C2.77958 14.7542 2.31771 14.4533 1.93614 14.0663L1.9378 14.0679L2.14929 13.8532L1.93451 14.0647L1.93614 14.0663C1.54937 13.6851 1.24844 13.2263 1.05452 12.7138C0.868533 12.2352 0.741988 11.689 0.707771 10.913C0.67453 10.1564 0.66626 9.91226 0.66626 8.00123C0.66626 6.09072 0.67452 5.84578 0.710584 5.08615C0.74485 4.31012 0.871366 3.76702 1.05703 3.28641C1.24812 2.77964 1.54887 2.31801 1.93572 1.93656L1.93369 1.93865L2.14929 2.14926L1.9378 1.93452L1.93572 1.93656C2.31798 1.54601 2.77733 1.24809 3.28902 1.05457C3.76759 0.86874 4.31398 0.742217 5.09006 0.708005ZM7.99932 4.52612C6.08159 4.52612 4.52563 6.08198 4.52563 7.99981C4.52563 9.91764 6.08159 11.4735 7.99932 11.4735C9.91715 11.4735 11.473 9.91764 11.473 7.99981C11.473 6.08198 9.91715 4.52612 7.99932 4.52612ZM12.2452 2.21037C11.3927 2.21037 10.7014 2.90146 10.7014 3.75423C10.7014 4.60682 11.3927 5.29809 12.2452 5.29809C13.0979 5.29809 13.7891 4.60685 13.7891 3.75423C13.7891 2.90142 13.0978 2.21037 12.2452 2.21037Z" fill="white"/>
            </svg>
          a(target="_blank" href="https://youtube.com").social-icon 
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M5.09006 0.708005C5.8468 0.674771 6.09096 0.666504 8.00233 0.666504C9.9132 0.666504 10.1582 0.674762 10.9179 0.71082C11.6941 0.745079 12.2374 0.871563 12.718 1.0572C13.2249 1.24817 13.6866 1.549 14.0681 1.93575L14.066 1.9337L13.8554 2.14926L14.0702 1.93781L14.0681 1.93575C14.4587 2.31793 14.7567 2.77718 14.9503 3.28866C15.1363 3.76729 15.2627 4.31355 15.2969 5.08945C15.3302 5.84694 15.3329 6.09212 15.3329 8.00123C15.3329 9.91226 15.3247 10.1564 15.2914 10.913C15.2572 11.69 15.1303 12.2336 14.9445 12.7145C14.5484 13.7387 13.7385 14.5486 12.7141 14.9447C12.2352 15.1309 11.6886 15.2574 10.912 15.2917C10.1552 15.325 9.91098 15.3332 7.99965 15.3332C6.08832 15.3332 5.84401 15.325 5.08733 15.2917C4.31081 15.2574 3.76749 15.1309 3.2867 14.9453C2.77958 14.7542 2.31771 14.4533 1.93614 14.0663L1.9378 14.0679L2.14929 13.8532L1.93451 14.0647L1.93614 14.0663C1.54937 13.6851 1.24844 13.2263 1.05452 12.7138C0.868533 12.2352 0.741988 11.689 0.707771 10.913C0.67453 10.1564 0.66626 9.91226 0.66626 8.00123C0.66626 6.09072 0.67452 5.84578 0.710584 5.08615C0.74485 4.31012 0.871366 3.76702 1.05703 3.28641C1.24812 2.77964 1.54887 2.31801 1.93572 1.93656L1.93369 1.93865L2.14929 2.14926L1.9378 1.93452L1.93572 1.93656C2.31798 1.54601 2.77733 1.24809 3.28902 1.05457C3.76759 0.86874 4.31398 0.742217 5.09006 0.708005ZM7.99932 4.52612C6.08159 4.52612 4.52563 6.08198 4.52563 7.99981C4.52563 9.91764 6.08159 11.4735 7.99932 11.4735C9.91715 11.4735 11.473 9.91764 11.473 7.99981C11.473 6.08198 9.91715 4.52612 7.99932 4.52612ZM12.2452 2.21037C11.3927 2.21037 10.7014 2.90146 10.7014 3.75423C10.7014 4.60682 11.3927 5.29809 12.2452 5.29809C13.0979 5.29809 13.7891 4.60685 13.7891 3.75423C13.7891 2.90142 13.0978 2.21037 12.2452 2.21037Z" fill="white"/>
            </svg>
          a(target="_blank" href="https://tiktok.com").social-icon 
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M13.0062 3.42183C12.9023 3.36602 12.8013 3.30483 12.7033 3.23851C12.4185 3.04267 12.1573 2.81191 11.9255 2.55121C11.3454 1.86091 11.1288 1.16061 11.049 0.6703H11.0522C10.9855 0.26332 11.0131 0 11.0173 0H8.37522V10.6255C8.37522 10.7681 8.37522 10.9091 8.36945 11.0484C8.36945 11.0658 8.36785 11.0818 8.36689 11.1004C8.36689 11.1081 8.36689 11.1161 8.36529 11.1241C8.36529 11.1261 8.36529 11.1281 8.36529 11.1301C8.33744 11.5114 8.21993 11.8796 8.02311 12.2026C7.82629 12.5255 7.55618 12.7931 7.23655 12.982C6.90342 13.1791 6.52665 13.2825 6.14339 13.282C4.91242 13.282 3.91476 12.2381 3.91476 10.9488C3.91476 9.65952 4.91242 8.61557 6.14339 8.61557C6.37641 8.61535 6.60799 8.65348 6.82954 8.72856L6.83274 5.9307C6.16017 5.84035 5.47689 5.89594 4.82601 6.09398C4.17513 6.29201 3.57077 6.62819 3.05107 7.08131C2.59568 7.49283 2.21284 7.98383 1.91977 8.53224C1.80824 8.73223 1.38745 9.53586 1.33649 10.8401C1.30444 11.5804 1.51821 12.3474 1.62012 12.6644V12.671C1.68421 12.8577 1.93259 13.4947 2.33736 14.0316C2.66375 14.4624 3.04936 14.8407 3.48179 15.1546V15.1479L3.4882 15.1546C4.76724 16.0585 6.18537 15.9992 6.18537 15.9992C6.43086 15.9889 7.25322 15.9992 8.1871 15.5389C9.22289 15.0286 9.81258 14.2683 9.81258 14.2683C10.1893 13.814 10.4889 13.2963 10.6984 12.7374C10.9375 12.0837 11.0173 11.2998 11.0173 10.9865V5.3494C11.0493 5.3694 11.4762 5.66305 11.4762 5.66305C11.4762 5.66305 12.0912 6.07303 13.0507 6.34002C13.7391 6.53001 14.6666 6.57001 14.6666 6.57001V3.84214C14.3416 3.87881 13.6817 3.77215 13.0062 3.42183Z" fill="white"/>
            </svg>
          //- a.mr20(href='https://www.facebook.com' target='_blank') facebook
          //- a(href='https://www.instagram.com/' target='_blank') instagram
  .footer.row-flex.container-side-padding
    .footer__content
      .footer__content-item.small-text
        span.year
        a(href="#")  ЖК Forest home.
        span  Всі права захищені.
      .footer__content-item
        .footer__content-item-img
          a(href="https://smarto.agency/" target="_blank") 
            img(src="./assets/images/img/smartorange.svg" alt="smartorange")
  a.pageup(href='#up' style='opacity: 1;')
    svg(width='16' height='11' viewbox='0 0 16 11' fill='none' xmlns='http://www.w3.org/2000/svg')
      path(d='M1 10L8 2L15 10' stroke='white' stroke-width='2')
