.menu
  .menu-top-wrapper
    .menu-top
      a.menu-top__logo(href='index.html')
        img(src="./assets/images/img/logo.svg", alt="logo")
      .menu-top__left
        a.menu-top__left-button.button.button--calypso(href='/about') 
          span Про комплекс
        a#menu-top-popup.menu-top__left-button.button.button--calypso(data-modal='consultation' href='#') 
          span Замовити дзвінок
        a.menu-top__left-tel(href='tel:+380671106104') 
          <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.73425 2.68905L2.92515 5.27225C2.92514 5.27225 2.92514 5.27226 2.92513 5.27226C2.31518 5.83318 2.05857 6.49944 2.13971 7.36213C2.22648 8.28476 2.70867 9.47384 3.72689 10.9453L3.72692 10.9454C5.37114 13.3217 7.8497 15.6059 8.95328 16.6208L8.95344 16.6209C9.89671 17.4887 12.676 20.0393 15.5847 21.6841C17.4276 22.7259 18.939 23.1875 20.1061 23.1875C21.0343 23.1875 21.7796 22.8972 22.378 22.3468L24.7995 20.1201L19.8469 15.5657C19.8443 15.5651 19.8399 15.5645 19.8336 15.5645C19.8272 15.5645 19.8228 15.5652 19.8203 15.5657L16.8154 18.329L16.2423 18.856L15.5909 18.4296C14.0215 17.4025 12.5015 16.2149 11.0719 14.9003L11.0719 14.9003C9.83296 13.7609 8.69213 12.553 7.68087 11.3085L7.08768 10.5785L7.78006 9.94174L10.7139 7.24381L5.76054 2.68895C5.75778 2.68825 5.75333 2.68748 5.7476 2.68748C5.74167 2.68748 5.73707 2.68831 5.73425 2.68905ZM10.928 7.24347L10.8301 7.13702L10.8299 7.13714C10.83 7.1371 10.83 7.13705 10.8301 7.13701L10.928 7.24347ZM24.9155 20.0135L24.9156 20.0133L25.0138 20.1201L25.0146 20.1209L25.0138 20.1201L24.9156 20.0133C24.9156 20.0134 24.9155 20.0134 24.9155 20.0135ZM7.10865 1.21156C6.34854 0.512587 5.14661 0.51309 4.38662 1.21122L4.38624 1.21158L1.57135 3.80009L1.57134 3.8001C0.489355 4.79511 0.0103618 6.08064 0.148495 7.5494C0.280989 8.9582 0.97293 10.4802 2.08222 12.0833C3.86289 14.6569 6.4882 17.071 7.58253 18.0773L7.59934 18.0928L7.5995 18.0929L7.60609 18.099C8.5464 18.9641 11.4733 21.6568 14.6003 23.4251L14.6004 23.4251C16.5903 24.55 18.4527 25.1875 20.1061 25.1875C21.4969 25.1875 22.7365 24.7342 23.7318 23.819L26.2694 21.4855C26.6485 21.1369 26.875 20.6501 26.875 20.1201C26.875 19.5922 26.6509 19.1047 26.2698 18.755C26.2695 18.7548 26.2693 18.7545 26.269 18.7543L21.1948 14.0882C20.8188 13.7424 20.3305 13.5645 19.8336 13.5645C19.3364 13.5645 18.8489 13.7427 18.4732 14.0874L18.4724 14.0882L16.0421 16.3231C14.7942 15.4611 13.5801 14.4897 12.4257 13.4281C11.4966 12.5737 10.6289 11.6813 9.8372 10.7671L12.1838 8.60919C12.1838 8.60919 12.1838 8.60919 12.1838 8.60919C12.9921 7.8659 12.9915 6.62197 12.1842 5.87879L12.1838 5.87842L7.10867 1.21158C7.10866 1.21158 7.10865 1.21157 7.10865 1.21156Z" fill="#1A1E21"/>
          </svg>
          span +38 067 110 61 04
        a#header-button.menu-top__left-button-mobile.button
          span Обрати квартиру
      .menu-top__right
        a#menu-top-right-button.menu-top__right-button.button.button--calypso 
          span Обрати квартиру
        a.menu-top__right-popup-mobile(data-call-mobile-callback-popup='')
          img(src='./assets/images/img/popup-mobile.svg' alt='popup-mobile' data-modal='consultation')
        #menu-top-right-button-menu.menu-top__right-button-menu
          span.menu-top__right-text Закрити
          button.menu-top__right-burg
            svg(width='13' height='13' viewbox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M1 1.00001L12 12M1 12L12 1' stroke='#26262C' stroke-width='2')
  .menu-top-360
    a.menu-top-360__logo(href='index.html')
      img(src="./assets/images/img/logo-mobile.svg", alt="logo-mobile")
    .menu-top-360__wrapper
      a#header-popup.button.button--secondary.button--calypso(data-modal='consultation' href='#')
        span Замовити дзвінок
      a#menu-top-360__menu.menu-top-360__menu
        img(src='./assets/images/img/menu-close.svg' alt='menu')
  .menu-main.row-flex.container-side-padding
    .menu-main__left
      ul.menu-main__left-links
        li.menu-main__left-list
          span 01/
          a.menu-main__left-link(href='complex.html' data-title="Комплекc") Комплекс
        li.menu-main__left-list
          span 02/
          a.menu-main__left-link(href='planning.html' data-title="3D планування") 3D планування
        li.menu-main__left-list
          span 03/
          a.menu-main__left-link(href='#' data-title="Обрати квартиру") Обрати квартиру
        li.menu-main__left-list
          span 04/
          a.menu-main__left-link(href='gallery.html' data-title="Галерея") Галерея
        li.menu-main__left-list
          span 05/
          a.menu-main__left-link(href='promotions-news.html' data-title="Акції та новини") Акції та новини
        li.menu-main__left-list
          span 06/
          a.menu-main__left-link(href='contact.html' data-title="Контакти") Контакти
    .menu-main__right
      .menu-main__right-item.menu-main__right-item-1
        h3.subtitle відділ продажу:
        .text м. Вінниця, вул. Максимовича, 6
      .menu-main__right-item.menu-main__right-item-2
        h3.subtitle будівництво:
        .text м. Вінниця, вул. Максимовича, 21
      .menu-main__right-item.menu-main__right-item-3
        h3.subtitle графік роботи:
        .text.mb10 Пн-Сб: 09:00-19:00
        .text Нд: 10:00-17:00
      .menu-main__right-item.menu-main__right-item-4
        h3.subtitle телефон:
        .text
          a(href="tel:+380671106104") +38 067 110 61 04 
      .menu-main__right-item.menu-main__right-item-5
        h3.subtitle e-mail:
        .text
          a(href='mailto:zkforesthome@gmail.com') zkforesthome@gmail.com
      .menu-main__right-item.menu-main__right-item-6
        h3.subtitle Соціальні мережі:
        .text
          a.mr20(href='https://www.facebook.com' target='_blank') facebook
          a(href='https://www.instagram.com/' target='_blank') instagram
  